html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url(https://images.unsplash.com/photo-1532882014483-19ff9aa7c956?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=765&q=80);
	font-family: 'EB Garamond', serif, sans-serif;
  font-size: 1.3rem;
	margin: 0;
	padding: 0;
  color: #FFE956;

}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Creepster', cursive, serif, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1.5rem;
  padding: 2rem 0;
  margin: 0;
}
section {
  flex-basis: 60%;
  padding: 1rem;
  margin: 0;
}
aside {
  flex-basis: 40%;
  padding: 1rem;
  margin: 0;
}
section h1 {
  border-top: 2px solid #783065;
  border-bottom: 2px solid #783065;
  border-radius: 15px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #0F1A4C;
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
}
header {
  padding: 2rem 0;
  margin: 0 auto;
  width: 90%;
}
nav ul {
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
}
nav li {
	font-family: 'Creepster', cursive, serif, sans-serif;
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav a {
  margin: 0;
  padding: 1rem;
  border-radius: 15px;
  color: #F6CDEF;
  text-decoration: none;
  background-color: #5d3277;
}
nav a:focus {
  text-decoration: underline;
  color: #0f9f0f;
  background-color: #000;
}
nav a:hover {
  text-decoration: underline;
  background-color: #7C63BB;
  color: #FFE956;
}
blockquote {
  background-image: url(https://images.unsplash.com/photo-1575844261401-d69721eb5044?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  float: right;
  width: 40%;
  padding: 1rem;
  margin: 0.9rem;
  border-radius: 50px;
  text-align: center;
  color: #fff;
}
aside p {
  text-align: left;
}
footer {
  background-color: #0F1A4C;
  border-radius: 10px;
  padding: 1rem 1rem 0.1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  text-align: right ;
  width: 90%;
}